.home {


  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
  'home image image image';
  height: 658px;
  /* width: 1533px; */
}


#home1 {
  /* background-color: yellow; */
  grid-area: home;
  
}

#image1 {
  /* background-color: red; */
  grid-area: image;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;

}
.Home_All{
  
  /* background-color: yellow; */
  /* border: 3px solid black; */
  padding: 12px 23px;
  /* justify-self: center; */
}


.home_p1 {
  font-family: Signika;
  font-weight: 700;
  font-size: 64px;
  opacity: 90%;
  position: relative;
  top: 80px;

}

.home_p2 {
  font-family: Signika;

  font-weight: 300;
  font-size: 25px;
  opacity: 40%;
  position: relative;
  top: 40px;
}

.play_B {
  margin-left: 15px;
}

.fican {
  position: relative;
  top: 40px;

}

.Iicon {
  position: relative;
  top: 42px;
  margin-left: 2%;
}

.lIcon {
  position: relative;
  top: 39px;
  margin-left: 2%;
}

.GIcon {
  position: relative;
  top: 40px;
  margin-left: 2%;
}


.blackpart {
  grid-column: 1;
  grid-row: 1;
  background-color: lightblue;
  position: absolute;
  z-index: 1;
  top: -83px;
  left: 147px;
  width: 484px;
  /* width: 472px; */
  height: 729px;
}

.bbimage {
  grid-column: 1;
  grid-row: 1;
  width: 671.67px;
  height: 650px;
  
  grid-area: img;
  position: absolute;
  z-index: 2;
  top: 8px;
  left: -44px;
}