.navbar {
    z-index: 5;
    width: 100vw;
    /* border: 3px solid yellow; */
    height: 71px;
    /* display: contents; */
    display: grid;
    grid-template-columns: 34fr 69fr 15fr;}

.navpic {
    position: relative;
    width: 112px;
    height: 50px;
    left: 2%;
    top: 15px;
}

.button_of_navbar {
    margin: 18px;
    /* border: 3px solid yellow; */
    /* width: 600px;

    display: flex;
    justify-self: center;
    justify-content: center;
    justify-content: space-between;
    margin: -35px auto; */

}

.Bhome {
    /* margin-left: 20%; */
    font-weight: 400;
    font-size: 24px;
    /* padding-left: 5px; */
}

.BAbout {
    font-weight: 400;
    font-size: 24px;
    /* padding-left: 7px; */
    margin-left: 2%;
}

.BTrainers {
    font-weight: 400;
    font-size: 24px;
    /* padding-left: 7px; */

    margin-left: 2%;
}

.BReview {
    font-weight: 400;
    font-size: 24px;
    /* padding-left: 7px; */

    margin-left: 2%;
}

.Bplans {
    font-weight: 400;
    font-size: 24px;
    /* padding-left: 7px; */

    margin-left: 2%;
}

.BJoin {
    /* display: flex;
    position: absolute;
    right: 89px; */
    /* display: flex;
    padding-right: 58px;
    height: 34px;

    justify-content: right; */
}

.B_Join {
    z-index: 5;
    background-color: black;
    color: white;
    border-radius: 9px;
    padding: 10px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 13px;    border: black;
}
.B_Join:hover{
    background-color: rgb(20, 19, 19);
}





@media (min-width: 1200px) {
  }
  