.Plan {
    margin-top: 130px;
    background-color: antiquewhite;
    display: grid;
    grid-gap: 1rem;

}

.item_Plan {
    border: 2px solid;

}

#first {   
     font-size: 24px;
}

#second {
    font-size: 63px;
    font-weight: bold;
}